.main_add_block {
  position: absolute;
  top: 125px;
  z-index: 55;
  height: 300px;
  background: #fff;
  border-radius: 5px;

  &_add { 
           padding:7px ;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    &_img {    

            margin:15px 0;
            width: 100%;
            height: 100%;
      background: gray;
      text-align: center;
    
    }
  }

  input[type=text]{
          border:none;
          font-weight: bolder;
          border-bottom: 3px solid gray;
          margin-top: 10px;
          width: 80%;
          outline: none;
  }
  input[type=file]{
          visibility: hidden;
  }
}
